{% extends "base.html" %}

{% block content %}


{% load widget_tweaks %}

<br><br><br><br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header text-black">
                        <h2>Change Password</h2>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="hidden" name="user_id" value=" {{user_id}} ">


                                <label>New Password</label>
                                <div class="input-group mb-3">
                                    <input type="password" name="newpassword" class="form-control"
                                        placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
                                </div>


                                <label>Confirm Password</label>
                                <div class="input-group mb-3">
                                    <input type="password" name="confirmpassword" class="form-control"
                                        placeholder="Confirm Password" aria-label="Username"
                                        aria-describedby="basic-addon1">
                                </div>


                            </div>
                            <br>
                            <input type="submit" value="Change Password" class="btn btn-block btn-primary">
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>
{% endblock content %}