{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}

<br><br><br><br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header text-black">
                        <h2>Forget Password</h2>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}

                            

                                <label>Username</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="username">
                                </div>
                                {% if messages%}
                                {% for message in messages %}
                                <span style="color:green">{{ message }}</span>
                                {% endfor %}
                                {% endif %}

                                <br>
                                <input type="submit" value="Submit" class="btn btn-block btn-primary">
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock content %}